@using FlossApp.Wasm.Components
@using FlossApp.Wasm.Consts
@using FlossApp.Wasm.Themes
@inherits LayoutComponentBase

<PageTitle>@AppConsts.ApplicationName</PageTitle>

<div class="page" style="height: 100svh;">
    <MudPaper Style="@($"background-color: {CustomTheme1.Instance.PaletteLight.Primary}")">
        <MudToolBar>
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5"
                           OnClick="OpenDrawer" />
        </MudToolBar>
    </MudPaper>

    <main>
        <article class="px-4 py-2">
            <MudDrawer @bind-Open="_isNavbarOpen" Elevation="1" Variant="DrawerVariant.Temporary" OverlayAutoClose="true"
                       Anchor="Anchor.Left">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h6">@AppConsts.ApplicationName</MudText>
                </MudDrawerHeader>

                <MudNavMenu>
                    <MudDivider Class="my-2" />
                    <MudNavLink Href="/">Home</MudNavLink>
                    <MudNavLink Href="/FindSimilarColorsPage">Color Convert</MudNavLink>
                    <MudNavLink Href="/ImageFilter">Image Filtering</MudNavLink>
                    <MudNavLink Href="/HoopSizer">Hoop Sizer</MudNavLink>
                    <MudNavLink Href="/ImageUpscaler">Upscaler</MudNavLink>
                </MudNavMenu>
            </MudDrawer>

            <GlobalErrorBoundary @ref="_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <MudPaper Class="p-3">
                        <h1>Something went wrong.</h1>
                        <p>
                            An error went uncaught, and the process couldn't continue.
                            Details follow.
                        </p>
                        <hr />
                        <p>
                            <b>@context.GetType().FullName</b>:
                            <span>@context.Message</span>
                        </p>
                        <hr />

                        <MudExpansionPanels Class="mb-3">
                            <MudExpansionPanel Text="Details">
                                <ExceptionDetailsComponent Ex="@context" />
                            </MudExpansionPanel>
                        </MudExpansionPanels>

                        <div class="row">
                            <div class="col">
                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CopyAll"
                                           OnClick="CopyErrorAsJson">
                                    Copy details as JSON
                                </MudButton>
                            </div>
                            <div class="col">

                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Refresh"
                                           OnClick="AttemptRecovery">
                                    Attempt Recovery
                                </MudButton>
                            </div>
                        </div>

                    </MudPaper>
                </ErrorContent>
            </GlobalErrorBoundary>
        </article>
    </main>
</div>

<MudThemeProvider Theme="CustomTheme1.Instance" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code
{
    private bool _isNavbarOpen;

    private void OpenDrawer()
    {
        _isNavbarOpen = true;
    }
}
