@page "/FindSimilarColorsPage"
@inject IFindSimilarColorsViewModel ViewModel
@using System.Collections.ObjectModel
@using FlossApp.Application.Enums
@using FlossApp.Application.Models
@using FlossApp.Application.Extensions.System.Drawing;
@using FlossApp.Application.ViewModels.Colors
@using System.Drawing
@using FlossApp.Wasm.Extensions.System
@using FlossApp.Wasm.Components

<style>
    div.color-sample-container {
        display: flex;
        -o-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-align-items: center;
        -o-align-items: center;
        -webkit-align-items: center;
        align-items: center;
    }

    div.color-sample {
        margin-left: 1em;
        height: 3em;
        width: 3em;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

    .navbar-sticky-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1030; /* above content */
    }
</style>

<main>
    <h1>Color Similarity</h1>

    @if (!ViewModel.Matches.Any())
    {
        <MudPaper Style="text-align: center;">
            <strong>No results</strong>
            <p>
                Nothing came up for this query.
            </p>
        </MudPaper>
    }

    <MudExpansionPanels>
        @foreach (KeyValuePair<ColorSchema, ObservableCollection<ColorModel>> kvp in ViewModel.Matches)
        {
            <MudExpansionPanel>
                <TitleContent>
                    <h3>@kvp.Key.ToDisplayName()</h3>
                </TitleContent>
                <ChildContent>
                    @foreach (ColorModel color in kvp.Value)
                    {
                        <MudPaper Class="my-1">
                            <div class="row">
                                <div class="col col-auto color-sample-container">
                                    <div class="color-sample" style="background-color: #@color.Color.AsHex();"></div>
                                </div>
                                <div class="col">
                                    <h4>@color.Name</h4>
                                    @color.Number
                                </div>
                                <div class="col col-auto">
                                    @if (ViewModel.IsExactMatch(color.Color))
                                    {
                                        <span>Exact match</span>
                                    }
                                </div>
                            </div>
                        </MudPaper>
                    }
                </ChildContent>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
</main>

<nav class="navbar navbar-expand navbar-sticky-bottom">
    <div class="container justify-content-around">
        <MudPaper Class="p-2 w-100">
            <MudNumericField T="int" @bind-Value="ViewModel.NumberOfMatches" Label="Max matches" />

            <EnumPicker Label="Input schema" T="ColorSchema" @bind-Value="ViewModel.InputSchema" />

            @if (ViewModel.InputSchema is ColorSchema.Rgb)
            {
                <MudColorPicker Label="Color" @bind-Text="ViewModel.TargetColorString" ShowAlpha="false" />
            }
            else
            {
                <MudSelect T="System.Drawing.Color" ToStringFunc="t => t.Name" Label="Color" @bind-Value="ViewModel.TargetColor">
                    @foreach (ColorModel cm in ViewModel.ColorsForInputSchema)
                    {
                        <MudSelectItem Value="cm.Color">
                            <div class="row p-1">
                                <div class="col col-auto color-sample-container">
                                    <div class="color-sample" style="width: 1em; height: 1em; background-color: #@cm.Color.AsHex();"></div>
                                </div>
                                <div class="col">
                                    @cm.Name (@cm.Number)
                                </div>
                            </div>
                        </MudSelectItem>
                    }
                </MudSelect>
            }
        </MudPaper>
    </div>
</nav>

